<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid navbar__container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Test application</a>
    </div>
    <ul class="nav navbar-nav navbar__nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Link</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar__nav">
      <li>
        <a class="nav-link navbar__link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li>
        <a class="nav-link navbar__link"  routerLink="/register" href="#"><span class="fa fa-user"></span> Login</a>
      </li>
    </ul>
  </div>
</nav>
